@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

/* All dedications */
section[epub|type~="dedication"]{
	text-align: center;
}

section[epub|type~="dedication"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

@supports(display: flex){
	section[epub|type~="dedication"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *{
		margin: 0;
	}
}
/* End all dedications */

/* Start poetry/verse css */
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

span.elision{
	margin: .5em;
	margin-left: 3em;
}
/* End poetry/verse css */

/* Start play & drama css */
[epub|type~="z3998:drama"] table{
	border-collapse: collapse;
	margin: 1em auto;
	width: 100%;
}

[epub|type~="z3998:drama"] tr:first-child td{
	padding-top: 0;
}

[epub|type~="z3998:drama"] tr:last-child td{
	padding-bottom: 0;
}

[epub|type~="z3998:drama"] td{
	padding: .5em;
	vertical-align: top;
}

[epub|type~="z3998:drama"] td:last-child{
	padding-right: 0;
}

[epub|type~="z3998:drama"] td:first-child{
	padding-left: 0;
}

[epub|type~="z3998:drama"] td[epub|type~="z3998:persona"]{
	hyphens: none;
	-epub-hyphens: none;
	text-align: right;
	width: 20%;
}

[epub|type~="z3998:stage-direction"]{
	font-style: italic;
}

[epub|type~="z3998:stage-direction"] [epub|type~="z3998:persona"],
i [epub|type~="z3998:persona"]{
	font-style: normal;
}

[epub|type~="z3998:stage-direction"]::before{
	content: "(";
	font-style: normal;
}

[epub|type~="z3998:stage-direction"]::after{
	content: ")";
	font-style: normal;
}

[epub|type~="z3998:persona"]{
	font-variant: all-small-caps;
}
/* End play & drama css */

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] i{
	font-style: normal;
}

[epub|type~="epigraph"] cite{
	font-style: normal;
	font-variant: small-caps;
	margin-top: 1em;
}

[epub|type~="epigraph"] cite i{
	font-style: italic;
}
/* End all epigraphs */

/* "Connected" or "traced" list elements in the Sophist Introduction */
#sophist ul:nth-of-type(1){
	list-style-type: none;
	text-align: center;
}

#sophist ul:nth-of-type(1) li p{
	text-align: center;
}

#sophist ul:nth-of-type(1) li:before{
	content: "|";
}
/* End Sophist list CSS */

/* Set apart "narration" in the Apology Introduction */
#apology [epub|type~="z3998:non-fiction"] p:nth-of-type(15){
	margin: 1em;
	text-align: center;
	text-indent: 0;
}
/* End Apology narration CSS */

/* Analogies have their own CSS */
.analogy{
	text-align: center;
	text-indent: 0;
}
/* End analogy CSS */

/* Custom CSS for "theses" listed in Gorgias and Parmenides introductions */
.thesis{
	margin: 1em;
	text-align: center;
	text-indent: 0;
}
/* End thesis CSS */

/* Custom CSS for fractions in Timaeus introduction */
.fractions{
	margin: 1em;
	text-align: center;
	text-indent: 0;
}
/* End fractions CSS */
